@font-face {
    font-family: 'MyFont';
    src: url(../fonts/Poppins-Regular.ttf);
}

:root {
    --bg: #EDEDED;
    --accent: #FF2D55;
    --text: #000000;
    --muted: rgba(0, 0, 0, 0.85);
    --btn-hover: rgba(212, 6, 43, 0.993);
    --fg-clr: #161616;
    --bg-clr: #FFFFFF;
    --bg-1-clr: #7C7C7C;
    --bl-clr: #161616be;
    --bg-2-clr: #EDEDED;
    --y-clr: #FF9D00;
    --yw-clr: #eff1c5e1;
    --g-clr: #34C759;
    --b-clr: #3700FF
}

* {
    font-family: 'MyFont';
    box-sizing: border-box
}

body {
    margin: 0;
    background-color: #fff;
    color: var(--text-dark);
}

.navbar {
    top: 0;
    margin-right: 0;
    padding: 0.5em 2em;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    background-color: var(--bg-2-clr) !important;
    width: 100%;
    position: fixed;
}

.navbar-brand {
    color: var(--accent);
    font-size: 1.5rem;
    letter-spacing: -0.5px;
}

a.nav-link {
    color: var(--text-dark) !important;
}

a.nav-link:hover {
    color: var(--accent) !important;
}

.navbar .dropdown-item:hover {
    background-color: var(--bg-clr);
    color: var(--accent);
}

form input[type='search'] {
    border: 1px solid var(--bg-1-clr);
    border-radius: 8px;
    padding: 0.5rem 1rem;
    transition: var(--transition);
}

form input[type='search']:focus {
    border-color: var(--bg-1-clr);
    box-shadow: 0 0 5px var(--bg-1-clr);
    outline: none;
}

form button[type='submit'] {
    color: var(--fg-clr);
}

form button[type='submit']:hover {
    background-color: var(--bg-1-clr);
    color: #fff;
}

#login {
    padding: 0.5rem 1rem;
    color: var(--fg-clr);
    border: 1px solid var(--bg-1-clr);
    transition: var(--transition);
}

#login:hover {
    color: #fff;
    background-color: var(--bg-1-clr);
    transform: translateY(-1px);
}

@media (max-width: 768px) {
    .navbar-link {
        padding: 15px;
    }
}